.container{
    display: flex;
}
legend{
    font-size: 2.6rem;
    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.4rem;
    margin-bottom: 6%;
    color: white;
    background-image: -webkit-linear-gradient(right, rgba(107, 163, 255,1) 0%, rgba(231, 225, 255, 1) 100%);
    background-image: linear-gradient(to left, rgba(107, 163, 255,1) 0%, rgba(231, 225, 255, 1) 100%);
    background-size: auto 250%;
    background-position: 0 100%;
    transition: background-position 0.5s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
}
label{
    color: #2E2263;
}
input{
    color: #2E2263;
    border-color: #ccddfb;
    border-radius: 8px;
    border-style:solid;
    width: 80%;
    padding: 7px;
    margin-top: 3%;
    margin-bottom: 20px;
}
form{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

@media screen and (max-width: 801px) {
    .container{
        display: block;
    }
}